* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-family: 'PT Sans', sans-serif;
}

#cabecalho {
    box-shadow: inset 0 -1.5px 0 0 gainsboro;
    display: flex;
    flex-wrap: wrap;
}


#tituloPagina {
    margin: 20px 50px 30px 15px;
}


#container {
    margin: 5px 70px 20px 55px;
}

#tela-cadastro {
    margin: 20px auto;
    width: 60%;
}

#formCadastro{
    margin: auto;
    padding: 10px 50px;
}

#campos {
    display: flex;
}

.inputCampo {
    border: black 1px solid;
    border-radius: 5px;
    width: 100%;
    font-size: 13pt;
    margin-right: 5px;
}

.inputDiv {
    margin-left: 7px;
}
.inputDiv label{
    font-weight: bolder;
}

#listar-clientes {
    width: 100%;
    position: absolute;
}

#tabelaClientes {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    display: none;
}

tr th {
    padding: 3px 8px;
    border: 2px solid black;
}

tbody td {
    border: 1px dotted gray;
    padding: 3px 6px;
}



#divDetalhes {
    display: none;
    width: 40%;
    background-color: rgb(194, 229, 235);
    padding: 20px;
    border: rgb(126, 142, 218) 2px solid;
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    margin-left: 30%;
}


/* Todos os Butoes abaixo */

/* Classe generica */
.butao {
    background-color: #4bcaf5;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    font-weight: bolder;
    border: rgb(126, 142, 218) 2px solid;

}

#butoes-cabecalho {
    
    width: 45%;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}

.btn-cabecalho{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 10pt;

}

/* Butão para salvar o cliente */
#btnSalvar{
    padding: 15px;
    margin: 10px auto 5px auto;
    font-size: 10pt;
    display: flex;
    justify-content: center;
   
}
.btnAcao {
    padding: 3px;
    margin-left: 4px;
    font-size: 10pt;

}
.btnAcao-Excluir{
    background-color: #f81717;
}
.btnAcao-Alterar{
    background-color: #7a6ee7;
}

.btnModal {
    padding: 20px;
    margin: 10px auto 5px auto;
    font-size: 10pt;
}

#btnFechar {
    display: none;
    margin-top: 20px;
}
#btnsAlteracao{
    display: flex;
}

#btnEditar {
    display: none;
}
#btnCancelar{
    display: none;
}

